<configuration>
  <configSections>
    <section name="nbi" type="NBi.NUnit.Runtime.NBiSection, NBi.NUnit.Runtime"/>
  </configSections>
  <connectionStrings configSource="ConnectionString.user.config" />
  <nbi testSuite="Positive\ResultSetEqualToResultSet.nbits">
    <extensions>
      <add assembly="NBi.Core.Gremlin"/>
    </extensions>
  </nbi>
</configuration>