<connectionStrings>
  <add
	  name="CosmosDb"
	  connectionString="Endpoint=https://xyz.documents.azure.com:443/;AuthKey=...;database=...;collection=..."
	/>
  <add
	  name="Gremlin"
	  connectionString="hostname=xyz.gremlin.cosmosdb.azure.com;port=443;enableSsl=true;Username=/dbs/.../colls/...;Password=...;api=gremlin"
	/>
</connectionStrings>