<connectionStrings>
  <add
	  name="CosmosDb"
	  connectionString="Endpoint=https://gremlin-demo.documents.azure.com:443/;AuthKey=$AzureAuthKey$;database=graphdb;collection=Persons"
	/>
  <add
	  name="Gremlin"
	  connectionString="hostname=gremlin-demo.gremlin.cosmosdb.azure.com;port=443;enableSsl=true;Username=/dbs/graphdb/colls/Persons;Password=$AzureAuthKey$;api=gremlin"
	/>
</connectionStrings>